{% extends 'enroll/base.html' %} {% block title %} input {% endblock title %} 
{% block content %}
<h4 class="font-medium text-xl text-blue-800">Add New Student</h4>
<div class="grid grid-cols-2 gap-8">
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <br />
    <input
      class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit"
      value="Add"
    />
  </form>
  <div>
    <h4 class="text-3xl text-center pb-8 font-semibold">All Student</h4>

    {% if stu %}

    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Id</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Password</th>
            <th scope="col" class="px-6 py-3">Action1</th>
            <th scope="col" class="px-6 py-3">Action2</th>
          </tr>
        </thead>
        <tbody>
          {% for st in stu %}
          <tr class="bg-white dark:bg-gray-800">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{st.id}}
            </th>
            <td class="px-6 py-4">{{st.name}}</td>
            <td class="px-6 py-4">{{st.email}}</td>
            <td class="px-6 py-4">{{st.password}}</td>
            <td class="px-6 py-4">
              <a
                href="{% url 'updatedata' st.id %}"
                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
                >Edit</a
              >
            </td>
            <td class="px-6 py-4">
              <form action="{% url 'deletedata' st.id %}" method="POST">
                {% csrf_token %}
                <input
                  type="submit"
                  value="Delete"
                  class="classfocus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% else %}
    <h4>No Records</h4>
    {% endif %}
  </div>
</div>
{% endblock content %}
